 <div class="row">
    <label><strong>Send your ETHs</strong></label>
  </div>

  <div class="row">
    <label>Selected Ethereum Account:
      <input type="text" [ngModel]="selectedAccount" readonly disabled size="50">
    </label>
  </div>
    <div class="row">
    <label>Enter the address of your Tradeable Wallet:
      <input type="text" [(ngModel)]="tradeableWalletAddress"   (ngModelChange)="getEthBalance()" placeholder="ex.: 0xD2EDf4076B8F3A5357C5E395AB970B5B54098EEE" maxlength="42" size="50">
    </label>
  </div>

  <div class="row">
    <label>Enter the address of destination:
      <input type="text" [(ngModel)]="destinationAddress"  placeholder="ex.: 0xD2EDf4076B8F3A5357C5E395AB970B5B54098EEE" maxlength="42" size="50">
    </label>
  </div>

  <div class="row">
    <label>Balance (in GWei):
      <input type="number" [ngModel]="sBalance" maxlength="20" size="10" readonly disabled>
    </label>
  </div>
 

   <div class="row">
    <label>Enter the value to send (in GWei):
      <input type="number" [(ngModel)]="valueInGWei" maxlength="20" size="10">
    </label>
  </div>
   <div class="row">
    <label>Value to send (in ETH):
      <input type="number" [ngModel]="convertToETH()" maxlength="20" size="10" readonly disabled>
    </label>
  </div>

   <div class="row">
    <label>Enter additional hex data (if any):
      <input type="string" [(ngModel)]="hexData" maxlength="200" size="20">
    </label>
  </div>
  
  <div class="row" style="display:flex; align-items: center;" >
    <input type="checkbox"  id="termsOfService" [(ngModel)]="isTermsOfServiceChecked">
    <label for="termsOfService">&nbsp;I agree with Terms of Service</label>
  </div>

    <div class="row">
    <label>Transfer from your tradeable wallet to the destination address by clicking here <a href="javascript:void(0)" (click)="sendEth()">
      <i class="fa fa-bullseye" aria-hidden="true"></i></a></label>
  </div>

    <div class="row" *ngIf="newWithdrawHash">
    <div class="card bg-light">
    <label>See your transaction on EtherScan by using this hash: {{newWithdrawHash.transactionHash}}
      </label>
      </div>
  </div>     

    <div class="row" *ngIf="errorBack">
      <div class="card text-white bg-danger">
        <div class="card-body">
            <h5 class="card-title">Ops... Error</h5>
            <p class="card-text">If you approved the transaction on Metamask, be sure that you provided a correct address of a Tradeable-Wallet and your are the owner of it.</p>
            <p class="card-text">Also, be sure that you have enough balance.</p> 
            <p class="card-text">Finally, be sure your account has enough Ether to pay the gas cost.</p>
            <p class="card-text">Details: {{errorBack}}</p>
          </div>
      </div>
    </div>     

    <div class="row" *ngIf="errorFront">
      <div class="card text-white bg-danger">
        <div class="card-body">
            <p class="card-text">{{errorFront}}</p>
          </div>
      </div>
    </div>     
